data/*
__pycache__/*
index.html
assets/similarity-measures-sensor-*.png
plotly-js-example/simple_plot.html
assets/temperature_humidity_plot.html
assets/acoustic_spectra_plot.html
assets/plots.html
plotly-js-example/simple_plot.html
