/* Style for plot itself only*/
.plot-container {
    aspect-ratio: 1.333;
    min-height: 0;
    flex: 1;
}

.plot-outer-container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.details-container {
}

.main-container {
    width: 98vw;
}
