.plotly-container {
}

.image-container {
    display: flex;
    width: 100%;
}

.main-container {
    width: 96vw;
}

.title {
    font-family: "Open Sans", Verdana, Arial, sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
}

.two-columns .column {
    width: 50%;
}
