/* Style for plot itself only*/
.plot-outer-container {
    aspect-ratio: 1.333;
    max-height: 85vh;
    width: 100%;
}

.image-container {
    display: flex;
    width: 100%;
}

.main-container {
    width: 96vw;
}
