<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="assets/styles.css" rel="stylesheet">
</head>

<body class="main-container">
    <h3 class="title" style="text-align: center;">
        Beehive sensor data
    </h3>

    <div id="update_mode_control">
	<label>
            <input type="checkbox" id="continuous_update">
            Enable continuous acoustic spectra updates
        </label>
    </div>

    <div class="toggle-container">
        <label>
            <input type="checkbox" id="layoutToggle">
	    Use two column layout
        </label>
    </div>

    <!-- Audio controls for playing sounds from acoustic spectra
         - 'Play Audio' button generates sound from the current acoustic spectrum of the selected sensor
         - 'Stop' button stops any currently playing sound
         - You can also click directly on a frequency in the spectrum to hear that specific tone
    -->
    <div class="audio-controls-container">
	<br>Play sound for shown acoustic spectrum:<br>
	<select id="audioSensorSelector">	
	    {% for sensor in sensors %}
	    <option value="{{sensor}}">Sensor {{sensor}}</option>
	    {% endfor %}
	</select>
	<button id="playSpectrumButton" class="play-button">Play</button>
	<button id="stopButton" class="play-button">Stop</button>
        <div id="audioDebugInfo" style="white-space: pre-line;"></div>
    </div>

    <div class="row">
   <!-- -->
      <div class="column">
	    <div id="acoustic_spectra_plot", class="plotly-container">
		{{acoustic_spectra_plot}}
	   </div>
      </div>

      <div class="column">
	    <div id="time_slider_plot", class="plotly-container">
		{{time_slider_plot}}
	   </div>
      </div>
   <!-- -->
   </div>

    <div class="row">
    <!-- -->
      <div class="column">
	  <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 60px">
	      <div class="title">Gaussian fit for averaged spectrum</div>
	      <select id="gaussImageSelector" style="width: 100px; margin-right: 20px;">
		  {% for sensor in sensors %}
		  <option value="{{OUTPUT_DIR}}/gaussians-sensor-{{sensor}}.png">Sensor {{sensor}}</option>
		  {% endfor %}
	      </select>
	  </div>
	  <img id="displayedGaussImage" class="image-container" src="{{OUTPUT_DIR}}/gaussians-sensor-{{sensors[0]}}.png" alt="Gaussian fit">
      </div>

      <div class="column">
	  <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 60px">
	      <div class="title">Gaussian fit evolution</div>
	      <select id="evolutionImageSelector" style="width: 100px; margin-right: 20px;">
		  {% for sensor in sensors %}
		  <option value="{{OUTPUT_DIR}}/evolution-sensor-{{sensor}}.png">Sensor {{sensor}}</option>
		  {% endfor %}
	      </select>
	  </div>
	  <img id="displayedEvolutionImage" class="image-container" src="{{OUTPUT_DIR}}/evolution-sensor-{{sensors[0]}}.png" alt="Evolution">
      </div>
   <!-- -->
   </div>

    <div>
        <div style="display: flex; justify-content: space-between; align-items: center; margin-left: 60px">
            <div class="title">Acoustic similarity</div>
            <select id="imageSelector" style="width: 100px; margin-right: 20px;">
                {% for sensor in sensors %}
                <option value="{{OUTPUT_DIR}}/similarity-measures-sensor-{{sensor}}.png">Sensor {{sensor}}</option>
                {% endfor %}
            </select>
        </div>
        <img id="displayedImage" class="image-container" src="{{OUTPUT_DIR}}/similarity-measures-sensor-{{sensors[0]}}.png" alt="Similarity measures">
    </div>

    <!--<details>-->
    <!--    <summary>About Gaussian decomposition</summary>-->
    <!--    <pre style="white-space: pre-wrap">{{gauss_info}}</pre>-->
    <!--</details>-->
    <details>
	<summary>About acoustic spectra</summary>
	<pre style="white-space: pre-wrap">{{acoustic_spectra_info}}</pre>
    </details>
    <details>
        <summary>About acoustic similarity</summary>
        <pre style="white-space: pre-wrap">{{similarity_info}}</pre>
    </details>
    <details>
        <summary>About datapoints used</summary>
        <pre style="white-space: pre-wrap">{{datapoints_info}}</pre>
    </details>
    <script src="{{OUTPUT_DIR}}/spectra_callback.js?v={{version}}"></script>
    <script src="{{OUTPUT_DIR}}/playing_audio.js?v={{version}}"></script>
</body>
</html>
